// main colors
$background-color: #232946;
$headline-color: #eebbc3;
$paragraph-color: #b8c1ec;
$button-color: #eebbc3;
$link-color: #eebbc3;
$button-text-color: #232946;
$card-background-color: #fffffe;
$card-headline-color: #232946;
$card-paragraph-color: #232946;
$card-tag-background-color: #232946;
$card-tag-text-color: #b8c1ec;
$card-highlight-color: #d4939d;

// illustrations
$il-stroke-color: #121629;
$il-main-color: #b8c1ec;
$il-highlight-color: #eebbc3;
$il-secondary-color: #fffffe;
$il-tertiary-color: #eebbc3;

// main section
$el-background-color: #d4d8f0;
$el-headline-color: #232946;
$el-sub-headline-color: #232946;
$el-card-background-color: #fffffe;
$el-card-heading-color: #232946;
$el-card-paragraph-color: #232946;

// icons
$icon-stroke-color: #121629;
$icon-main-color: #b8c1ec;
$icon-highlights-color: #eebbc3;
$icon-secondary-color: #fffffe;
$icon-tertiary-color: #eebbc3;

// bottom section
$bottom-background-color: #eebbc3;
$bottom-headline-color: #232946;
$bottom-paragraph-color: #232946;
$bottom-link-color: #232946;
$bottom-button-color: #232946;
$bottom-card-background-color: #fffffe;
$bottom-card-headline-color: #232946;
$bottom-card-paragraph-color: #232946;


