@use 'colors';

body {
  background-color: colors.$background-color;
}

h1, h2, h3 {
  color: colors.$headline-color!important;
}

h4, h5, h6 {
  color: colors.$il-secondary-color;
}

p, label, span {
  color: colors.$paragraph-color!important;
}

button, input[type=button], input[type=submit] {
  background-color: colors.$button-color!important;
  color: colors.$button-text-color!important;
}

a, a:link, a:visited {
  color: colors.$link-color!important;
}
